.body{
    -fx-background-image: url(../imgs/bg.jpg);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;

}


.scroll-pane > .viewport { 
    -fx-background-color: transparent;
 }